.elements__karachaevsk__list {
    width: 282px;
    height: 23px;
    background: white;
    display: flex;
    flex-direction: row;
    margin: 25px auto 31px;
    justify-content: space-around;
    align-items: baseline;
}

.elements__karachaevsk__text {
    height: 23px;
}