.places__baikal__website__link {
    width: 456px;
    flex-shrink: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-decoration-line: underline;
    margin-top: 12px;
    color: white;
}