.main__text {
    margin-top: 30px;
}


.main__text p {
    /* font-size: 25px; */
    font-size: calc(12px + 13*(100vw/1920));
    text-align: center;
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1px;
    /* line-height: 30px; */
    line-height: calc(15px + 15*(100vw/1920));
}

.main__text div {
    display: none;
}