.lead__title {
    width: 720px;
    color: white;
    margin: 0 auto;
    font-family: Inter;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: center;
}