* {
    /* max-width: 1920px; */
    /* width: 100%; */
    margin: 0 auto;
    position: relative;
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}