.elements__karachaevsk {
    width: 282px;
    height: 361px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 10px;
}

.elements__karachaevsk__text {
    width: 188px;
}

.elements__dombay__text {
    width: 188px;
}

.elements__elbrus__text {
    width: 188px;
}