.header__lang {
    color: white;
    text-align: left;
    /* font-family: Inter; */
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin: 18px 0 6px 0;
    /* 116.667% */
}