.task-2 {
    width: 1360px;
    margin: 150px auto 0;
}

.task-2__main {
    width: 942px;
    display: grid;
    justify-items: center;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
}

.task-2__main-item {
    display: flex;
    width: 290px;
    /* height: 430px; */
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.img-item {
    width: 290px;
    height: 290px;
    overflow: hidden;
    object-fit: cover;
    position: relative;
}

.item-stock {
    width: 60px;
    height: 14px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: white;
    color: #4F493F;
    font-family: Proxima Nova;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item-promo {
    position: absolute;
    width: 81px;
    height: 14px;
    background: #A32018;
    top: 15px;
    left: 15px;
    color: #FFF;
    font-family: Parangon 530C;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item__description {
    width: 265px;
    margin: 15px auto 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}

.item__description>h1 {
    color: #6E6659;
    font-family: Proxima Nova;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item__description>h2 {
    color: #264E58;
    font-family: Proxima Nova;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.item__description>p {
    color: #A5A5A5;
    font-family: Proxima Nova;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item__description>p>span {
    color: #264E58;
    font-family: Proxima Nova;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item__description>span {
    color: #A5A5A5;
    font-family: Proxima Nova;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item__description>span>span {
    color: #6E6659;
    font-family: Proxima Nova;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}