.page {
    /* background-color: #2A2C2F; */
    max-width: 1920px;
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    position: relative;
}

* {
    color: black;
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

@media (max-width: 640px) {
    .page.noscroll {
        overflow: hidden;

    }
}