.footer {
    margin-top: 40px;
    width: 100%;
    display: flex;
    /* font-size: 25px; */
    font-size: calc(12px + 20*(100vw/1920));
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.footer p,
svg {
    /* padding-right: 20px; */
    padding-top: 10px;
}

.footer svg {
    /* padding-right: 100px; */
    cursor: pointer;
}

.footer a {
    text-decoration: none;
}