.footer {
    margin-top: 40px;
    width: 100%;
    display: flex;
    /* font-size: 25px; */
    font-size: calc(12px + 20*(100vw/1920));
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.footer>p {
    padding-top: 10px;
}

.footer>div>a {
    text-decoration: none;
}