.footer {
    /* margin-top: 40px; */
    margin-top: calc(15px + 25*(100vw/1920));
    width: 100%;
    display: flex;
    /* font-size: 25px; */
    font-size: calc(12px + 20*(100vw/1920));
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
}

.footer p, svg {
    padding-top: 10px;
}

.footer svg {
    cursor: pointer;
}

.footer a {
    text-decoration: none;
}