.profile__info {
    width: 336px;
    height: 73px;
    color: white;
    margin: 22px 0 25px 30px;
    display: grid;
    align-items: end;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

@media screen and (min-width: 320px) and (max-width: 320px) {
    .profile__info {
        width: 282px;
        height: 54px;
        color: white;
        margin: 22.25px auto 0;
    }
}