.elements__dombay__image {
    width: 282px;
    height: 282px;
    flex-shrink: 0;
    background: url('../../../../image/elements/__dombay.png');
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}